from django.conf import settings

INSTALLED_APPS = settings.INSTALLED_APPS + [
	'django_extensions'
]

SECRET_KEY = '1234567890-0987654321-abcdefghijklmnopqrstuvwxyz'

DATABASES = {	
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '<NAME>',
        'USER': '<USERNAME>',
        'PASSWORD': '<PASSWORD>',
        'HOST': '<HOST>',
        'PORT': '5432',
    }
}
